@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@800&family=Poppins:wght@400;500;600;700&family=Teko:wght@700&display=swap");
*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
}

a, a::visited {
  text-decoration: none;
}

li {
  list-style: none;
}

.Primary-navigation {
  padding: 1rem 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  gap: 1rem;
}

.Primary-navigation .logo {
  font-weight: 900;
  font-size: 2.5rem;
  color: #262626;
  letter-spacing: 2px;
  font-family: 'Teko', sans-serif;
}

.Primary-navigation .logo span {
  color: rgba(33, 196, 82, 0.649);
  text-transform: uppercase;
  font-weight: 700;
}

.Primary-navigation .navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 2rem;
}

.Primary-navigation .navigation ul li a {
  font-size: 1.6rem;
  text-decoration: none;
  font-weight: 900;
  color: #262626;
  position: relative;
  padding: 0.5rem;
}

.Primary-navigation .navigation ul li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 0%;
  height: 100%;
  background-color: rgba(33, 196, 82, 0.349);
  z-index: -1;
  border-radius: 3px 0 0 3px;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.Primary-navigation .navigation ul li a:focus {
  outline: 2px solid rgba(33, 196, 82, 0.649);
  border-radius: 3px;
}

.Primary-navigation .navigation ul li a:hover::before, .Primary-navigation .navigation ul li a:focus::before {
  opacity: 1;
  width: 100%;
  border-radius: 3px;
}

.Primary-navigation .menu-ham {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50px;
  aspect-ratio: 1/1;
  background-color: transparent;
  border-radius: 3px;
  padding: 1rem;
  cursor: pointer;
  position: relative;
}

.Primary-navigation .menu-ham .line {
  width: 100%;
  height: 0.5rem;
  background-color: #262626;
  border-radius: 4px;
  -webkit-transform-origin: 8px 3px;
          transform-origin: 8px 3px;
}

@media (max-width: 768px) {
  .Primary-navigation {
    padding: 1rem 2rem;
  }
  .Primary-navigation .navigation {
    background-color: #44f1a9;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0vh;
    overflow: hidden;
    -webkit-transition: all 1000ms ease-in-out;
    transition: all 1000ms ease-in-out;
    -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .Primary-navigation .navigation ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    width: 100%;
  }
  .Primary-navigation .navigation ul li a {
    font-size: 2rem;
    color: #262626;
  }
  .Primary-navigation .navigation.active {
    height: 40vh;
  }
  .Primary-navigation .menu-ham {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .Primary-navigation .menu-ham.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .Primary-navigation .menu-ham.active .line {
    -webkit-transition: all 800ms ease-in-out;
    transition: all 800ms ease-in-out;
  }
  .Primary-navigation .menu-ham.active .line-1 {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .Primary-navigation .menu-ham.active .line-2 {
    display: none;
  }
  .Primary-navigation .menu-ham.active .line-3 {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}
/*# sourceMappingURL=style.css.map */