/*======================
    404 page
=======================*/
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
*::after,
*,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arvo', serif;

}

  .image {
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    
  }

