@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Orbitron:wght@400;600;800&family=Red+Rose:wght@400;600;700&display=swap");
:root {
  --bg-color:hsl(230, 18%, 25%);
  --bg-primary:hsl(39, 88%, 56%);
  --bg-neutral:hsl(0, 0%, 100%);
  --bg-dark:hsla(0, 0%, 13%, 0.295);
  --hv-primary:hsl(33, 89%, 52%);
  --ff-primary:"Red Rose",cursive;
  --ff-secondary:"Dela Gothic One",cursive;
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--bg-color);
}

li {
  list-style: none;
}

a, a:visited, a:active {
  text-decoration: none;
}

.primary-navigation {
  padding: 2rem 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  z-index: 999;
}
.primary-navigation .logo img {
  width: 120px;
}
.primary-navigation .hammburger {
  display: none;
}
.primary-navigation .navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
}
.primary-navigation .navbar ul li a {
  font-size: 1.8rem;
  padding: 0.5rem;
  font-family: var(--ff-primary);
  font-weight: 600;
  color: var(--bg-neutral);
  border: 3px solid transparent;
  transition: all 350ms ease-in-out;
}
.primary-navigation .navbar ul li a:hover {
  border-bottom: 3px solid var(--hv-primary);
}

.btn {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  position: relative;
  font-family: var(--ff-primary);
  font-size: 2rem;
  font-weight: 700;
  background-color: var(--bg-primary);
  color: var(--bg-neutral);
  border: none;
  padding: 1rem 3rem;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  overflow: hidden;
}
.btn svg {
  width: 30px;
  transition: all 1000ms ease-in-out;
}
.btn span {
  transition: all 500ms ease-in-out;
  z-index: 11;
}
.btn:hover svg {
  transform: translateX(150px);
}
.btn:hover span {
  transform: translateX(15px);
}

.menu-btn {
  transition: all 350ms ease-in-out;
}
.menu-btn:hover {
  transform: scale(1.1);
  background-color: var(--hv-primary);
}

.line {
  background-color: var(--bg-primary);
  width: 100px;
  height: 0.5rem;
  position: relative;
  transform: rotate(270deg);
  opacity: 60%;
  margin-top: 8rem;
}
.line h2 {
  margin-top: 4px;
  color: var(--bg-neutral);
  font-family: var(--ff-primary);
  letter-spacing: 4px;
}
.line::after {
  content: "";
  position: absolute;
  top: -7px;
  left: -12px;
  width: 20px;
  aspect-ratio: 1/1;
  border-radius: 50px;
  background-color: var(--bg-primary);
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
  max-height: 100vh;
  overflow: hidden;
  z-index: -1;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgb(0, 0, 0)), url(https://images.unsplash.com/photo-1455619452474-d2be8b1e70cd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--bg-dark);
}
.banner_text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 2rem;
  width: 100%;
  max-width: 1000px;
  text-align: center;
  line-height: 1.6;
  padding: 0rem 6rem;
  transition: all 350ms ease-in-out;
}
.banner_text h1 {
  font-family: var(--ff-secondary);
  color: var(--bg-neutral);
  font-size: 4rem;
  letter-spacing: 1px;
}
.banner_text p {
  font-family: var(--ff-primary);
  color: var(--bg-neutral);
  font-size: 1.5rem;
  padding: 0rem 10rem;
}

@media (max-width: 1000px) {
  .primary-navigation {
    padding: 2rem 3rem;
  }
}
@media (max-width: 800px) {
  .banner_text h1 {
    font-size: 3rem;
  }
  .banner_text p {
    padding: 0rem 3re;
  }
  .primary-navigation .navbar {
    display: none;
  }
  .primary-navigation button {
    display: none;
  }
  .primary-navigation .hammburger {
    display: flex;
    align-items: center;
    flex-direction: row;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
  .primary-navigation .hammburger .menu {
    cursor: pointer;
    background-color: var(--bg-primary);
    padding: 0.8rem;
    width: 48px;
    height: 48px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.6rem;
  }
  .primary-navigation .hammburger .menu .linex {
    border-radius: 50px;
    width: 100%;
    height: 0.4rem;
    background-color: var(--bg-neutral);
  }
  .primary-navigation .hammburger .menu .l1 {
    margin-top: 0;
  }
  .primary-navigation .hammburger .order {
    cursor: pointer;
    background-color: var(--bg-primary);
    padding: 0.5rem;
    border-radius: 5px;
  }
  .primary-navigation .hammburger .order svg {
    width: 36px;
    color: var(--bg-neutral);
  }
}
@media (max-width: 600px) {
  .banner_text {
    line-height: 1.4;
    max-width: 100%;
    padding: 0rem 1rem;
  }
  .banner_text h1 {
    padding: 0;
    line-height: 1.4;
    font-size: 2.8rem;
  }
  .banner_text p {
    width: 100%;
    padding: 0rem;
  }
}/*# sourceMappingURL=style.css.map */